.App {
  text-align: center;
}
  
h1{
  font-family: 'Squada One', cursive;
  font-size: 42px;
  letter-spacing:2px;
}

h3{
  font-family: 'Squada One', cursive;
  font-size: 32px;
  letter-spacing:2px;
}

/* Search Section */

input[type="search"] {
  font-family: 'Squada One', cursive;
  text-transform: capitalize;
  width: 50%;
  padding: 10px;
  border: 3px solid #999;
  font-size:33px; 
  margin-bottom: 20px;
  text-align: center;
}